<% content_for :js do %>
  <script type="text/javascript">
    <%= render :partial => "import.js" %>
  </script>
<% end %>

<h1 class='remindertitle'> Import Contacts </h1><br>
<p class="cta">Number of contacts chosen: <span class='number_of_selected_contacts'>0</span><p>
<a href="/" id="import_contact_button">Submit</a>

<div class="cta" >
  <%= form_tag '/import_contacts',id:"search_imported_contacts" do %>
  <%= text_field_tag :search, params[:search], placeholder: "Search for contact", class: 'import-search-bar'%>
  <% end %>
</div>

<div class="potential-contacts-container">
</div>
