<div class="social-link-page">
  <div class='reminder-background'></div>
  <div class="cta permission">Hold on tight, you're almost there. Last step: Link your Twitter account!</div>
  <div class="sign-in-link">
    <div class="twitter-login"><div class="logo-image"><%= image_tag "twitter-logo.svg", class:"twitter-logo" %></div><%= link_to 'Import messages from Twitter', '/auth/twitter', class: 'sm-link' %></div>
      <%= link_to '(skip this step)', pull_messages_path, class:'skip_twitter_auth' %>
  </div>
</div>
